*{
    font-family: sans-serif;
}
.wrapper{
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 100vh;
}
.group{
    margin: 0 auto;
    width: 340px;
}
.heading{
    align-items: center; 
    text-align: center  ;
    margin-bottom: 18px;
}
.box{
    border: 0.9px solid #C8C8C8;
    border-radius: 4px;
    margin-bottom: 18px;
    padding: 20px;
}
.box1{
    border: 0.9px solid #007F61;
    background-color: #F4FBF9;
}

h4{
    margin: 0;
}

.box input[type="radio"]{
    width: 14.46px;
    height: 14.46px;
    margin: 0;
}

.shipping{
    display: flex;
    justify-content: space-between;
    padding: 0px 5px;
    align-items: center;
    margin-bottom: 20px;
}
.shipping p {
font-size: 14px !important;
margin: 0;
}
.shipping p:first-child {
    color: #007F61;
}
.cart_btn{
    background-color: #007F61;
    color: white;
    width: 100%;
    padding: 13px;
    border: none;
    border-radius:4px 4px 4px 0px;
}
.item_details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
}
select{
    width: 72px;
    height: 25px;
    border: 1px solid #d9d9d9;
    border-radius:2px;
    font-size: 10px;
}
.actions{
    display: flex;
    gap: 6px;
    margin-left: 40px;
}
.selections{
    display: grid;
    row-gap: 10px;
}
.selections p{
    font-size: 9px;
    margin: 0;
}
.selections span{
    font-size: 9px;
}
.footer{
    text-align: end;
    margin-top: 2px;
}
.footer p{
    font-size: 12px;
    margin: 0;
}
.price{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}